.avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 8px;
  overflow: hidden;
}

.avatarWithBorder {
  background: var(--gray-800);
  width: 4rem;
  height: 4rem;
  border-radius: 8px;
  overflow: hidden;
  padding: 0.125rem;
  border: 2px solid var(--green-500);
  margin-bottom: 1rem;
}